.post-item {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  overflow-y: hidden;
  flex: 0 0 31%;

  position: relative;
  .buttons-container {
    display: flex;
    flex-direction: row;
    padding: 5px;
    column-gap: 5px;

    position: absolute;
    right: 0;
  }
  .image-box {
    width: 100%;
    height: 100%;
  }
  .post-info-container {
    padding: 10px;
    background-color: #1976d2;
    color: white;
  }
}
