.todo-item {
  display: flex;
  flex-direction: row;
  .todo-description {
    padding: 20px;
    font-size: 30px;
    border-radius: 25px;
    width: 100%;
    text-decoration: none;
    color: inherit;

    &:hover {
      cursor: pointer;
    }
    &:first-letter {
      text-transform: uppercase;
    }
  }
}
