.todo-item {
  color: white;
  display: flex;
  flex-direction: row;

  .todo-description {
    padding: 20px;
    font-size: 30px;
    width: 100%;
    &:hover {
      cursor: pointer;
    }
  }

  .active {
    background-color: green;
  }

  .inactive {
    background-color: blue;
  }
}
